body{
    background-image: url(idk.png);
}

#s1{
    text-align: center;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 80%;

}

.good{
    text-align: left;
}

#smol{
    font-size: small;
}

ul{
    list-style-type: '\2661';
}